.idea/
xladmin-frontend/node_modules/
xladmin-frontend/dist/
xladmin-frontend/.tmp-types/
xladmin-frontend/tmp-types/
xladmin-frontend/*.tgz
xladmin-frontend/packages/*/dist/
xladmin-frontend/packages/*/.tmp-types/
xladmin-frontend/packages/*/*.tgz

xladmin-backend/.venv/
xladmin-backend/build/
xladmin-backend/dist/
xladmin-backend/.pytest_cache/
xladmin-backend/.mypy_cache/
xladmin-backend/.ruff_cache/
xladmin-backend/src/*.egg-info/
inspector_errors

__pycache__/
*.pyc
